*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  color: #d5d4d8;
  line-height: 2rem;
}

.container {
  overflow: hidden;
  height: auto;
  background-color: #1f2937;
  min-width: 400px;
  max-width: 40%;
  margin: 3rem auto;
  padding: 3rem;
}

h2, p {
  width: 100%;
}

.highlight {
  color: #10b981;
}

.password-container {
  display: flex;
    justify-content: center;
    align-items: center;
}

button,
.password {
  border-radius: 5%;
}

button {
  background-color: #10b981;
  color: white;
  padding: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.password {
  width: 15rem;
  height: 2rem;
  background-color: #273549;
  margin: 0 1rem 0 0;
  color: #55f991;
  padding-left: 0.5rem;
}

.generate {
  display: block;
  margin: 1rem auto;
}

.choose-length {
  background-color: #273549;
  color:#55f991;
  line-height: 1.5rem;
  padding-left: 0.25rem;
}